@model List<EntityLayer.Entities.Product>
@{
    ViewBag.Title = "CriticalStock";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün Bilgisi</th>
        <th>Stok Sayısı</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Stock < 50)
        {
            <tr style="background-color:red">
                <td> @item.Name</td>
                <td> @item.Stock</td>
            </tr>
        }
        if (item.Stock == 50)
        {
            <tr style="background-color:yellow">
                <td> @item.Name</td>
                <td> @item.Stock</td>
            </tr>
        }
    }
</table>