
@{
    Layout = null;
}

<link href="~/eshop/css/bootstrap.min.css" rel="stylesheet" />

<div class="alert alert-success">@ViewBag.uyari</div>
@using (Html.BeginForm("PasswordReset", "User", FormMethod.Post, new { enctye = "multipart/form-data" }))
{
    <br />
    <br />
    <div class="container">
        <div class="form-group">
            <input type="email" name="eposta" placeholder="E-Mail Adresinizi Girin"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Şifreyi Sıfırla" class="btn btn-success"/>
        </div>

    </div>
}

